body {
	background-color: #606061;
	margin-top: 120px;
	font-size: 14px;
	color: white;
}

.title {
	text-shadow: black 0 0 1px;	
	font-size: 36px;
	margin-bottom: 40px;
}

.menu {
	margin-left: 30px;
}

.menu_item {
	font-size: 18px;
	margin-bottom: 10px;
}

.desc {
	margin-left: 15px;
	color: #909090;
	display: none;
}

.menu_item a {
	text-shadow: black 0 0 1px;
	color: white;
	text-decoration: none;
}

.menu_item a:hover {
	text-shadow: #EEE 0 0 3px;
	text-decoration: none;
}

.divider {
	font-size: 18px;
	color: #909090;
	margin-bottom: 10px;
}