body {
	margin: 1em;
}

h1,
h2 {
	font-family: helvetica neue, helvetica, sans-serif;
}

a {
	color: rgb(9, 105, 218);
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: rgb(34, 39, 46)
	}

	a {
		color: rgb(83, 155, 245);
	}
}

@media only screen and (min-width: 1280px) {
	body {
		margin: 2em;
	}
}