<!DOCTYPE HTML>
<!--
                    _
                   | |
 ___  ___  __ _  __| | _____      ____ _
/ __|/ _ \/ _` |/ _` |/ _ \ \ /\ / / _` |
\__ \  __/ (_| | (_| | (_) \ V  V / (_| |
|___/\___|\__,_|\__,_|\___/ \_/\_/ \__, |
                                    __/ |
                                   |___/

 -->

<html lang="html">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Callum Stott is a senior software engineer and XP/Lean consultant with a focus on Android and full stack web development based in London.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        margin: 2em;
        font-family: sans-serif;
      }

      a {
        color: blue;
      }

      .title {
        margin-bottom: 2em;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
