<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@seadowg" />
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:title" content="{{ page.title }}" />

    {% feed_meta %}

    <meta http-equiv="refresh" content="0;url={{ page.external_url }}">
  </head>
  <body>
  </body>
</html>